In [180]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [181]:

pd.set_option('display.max_columns', None)

In [182]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: openpyxl in ./opt/anaconda3/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in ./opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: et-xmlfile in ./opt/anaconda3/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [183]:
url = 'https://raw.githubusercontent.com/robertoaltran/Population/main/2018-SA1-dataset-household-AucklandRegion.csv'
data2 = pd.read_csv(url)

In [184]:
data2 = data2.iloc[:, [0, 1, 4]]

In [185]:
headers = data2.iloc[0]
data2 = data2[1:]
data2.columns = headers
data2.head()

0 Area_Code              Area_Description  2018.0
1    110200           Okahukura Peninsula   522.0
2    110300   Inlet Kaipara Harbour South     0.0
3    110400                   Cape Rodney  1275.0
4    110500                     Wellsford   654.0
5    110600  Oceanic Auckland Region East     6.0

**Total households in occupied private dwellings**:

This metric shows the number of homes currently being lived in. It can help us gauge housing demand in an area.

-----------------------------------------------------------------------------------------

In [186]:
url = 'https://raw.githubusercontent.com/robertoaltran/Population/main/2018-SA1-dataset-individual-part-1-AucklandRegion_updated_28-7-20.csv'
data3 = pd.read_csv(url)

In [187]:
data3 = data3.iloc[:, [0, 1, 4] + list(range(61, 78)) + [80] + list(range(91, 94)) + list(range(346, 353))]

In [188]:
headers = data3.iloc[0]
data3 = data3[1:]
data3.columns = headers
data3.head()

,Area_Code,Area_Description,2018 Census,0-4 years,5-9 years,10-14 years,15-19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,50-54 years,55-59 years,60-64 years,65-69 years,70-74 years,75-79 years,80-84 years,Median age(17),Under 15 years,15-29 years,30-64 years,Less than one year,1 year,2 years,3 years,4 years,5-9 years,10-19 years
1,110200,Okahukura Peninsula,1491,99,96,111,84,75,72,78,93,87,99,105,162,105,84,51,48,21,41.7,306,234,732,6,3,3,9,3,33,60
2,110300,Inlet Kaipara Harbour South,0,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C
3,110400,Cape Rodney,3525,216,234,237,168,153,168,177,201,204,240,264,312,291,258,198,123,51,45,687,489,1683,27,21,21,18,21,66,138
4,110500,Wellsford,1929,168,150,129,138,105,138,150,123,105,93,114,108,84,99,87,57,42,34.4,447,384,777,12,18,6,18,6,78,78
5,110600,Oceanic Auckland Region East,9,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,62,0,0,6,C,C,C,C,C,C,C


**Census usually resident population count**: 
  The total number of people who live in an area most of the time.

**Age in five year groups**: 
 Grouping people by age, like 0-5 years, 6-10 years, and so on.

**Age in broad groups**: 
 Grouping people by age in larger groups, like children, adults, and seniors.

**Years at usual residence**: 
 How many years a person has lived in their current home.

updated_28-7-20

-----------------------------------------------------------------------------------------

In [189]:
url = 'https://raw.githubusercontent.com/robertoaltran/Population/main/2018-SA1-dataset-individual-part-2-AucklandRegion.csv'
data4 = pd.read_csv(url)

In [190]:
data4 = data4.iloc[:, [0, 1] + list(range(174, 180)) + list(range(215, 226)) + list(range(264, 270))+ [274]]

In [191]:
headers = data4.iloc[0]
data4 = data4[1:]
data4.columns = headers

data4.head()

,Area_Code,Area_Description,No children,One child,Two children,Three children,Four children,Five children,No qualification,Level 1 certificate,Level 2 certificate,Level 3 certificate,Level 4 certificate,Level 5 diploma,Level 6 diploma,Bachelor degree and Level 7 qualification,Post-graduate and honours degrees,Masters degree,Doctorate degree,"$5,000 or less","$5,001 – $10,000","$10,001 – $20,000","$20,001 – $30,000","$30,001 – $50,000","$50,001 – $70,000",Median personal income($)
1,110200,Okahukura Peninsula,108,93,141,90,48,21,225,198,156,135,120,54,45,93,30,15,3,132,57,198,168,288,177,32600
2,110300,Inlet Kaipara Harbour South,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C
3,110400,Cape Rodney,315,156,378,246,120,33,495,357,321,249,315,129,150,333,102,81,39,312,123,504,408,642,393,32100
4,110500,Wellsford,150,87,159,144,75,33,381,219,186,141,132,57,48,90,30,15,0,192,72,321,270,303,195,25400
5,110600,Oceanic Auckland Region East,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,12600


### Feature Relevance for House Rental Price Model:

When predicting house rental prices in New Zealand, it's essential to determine the relevance of potential features. Below is a brief overview:


**Number of Children Born**: Can influence demand for property type and size.

**Education Metrics**: Locations near educational institutions or with a high student population might have specific rental demands.

**Income Metrics**: Areas with higher incomes might exhibit higher rental prices. The source of income can offer additional insights.

**Travel Means to Education**: Indicates transport infrastructure and proximity to educational establishments.

-----------------------------------------------------------------------------------------

In [192]:
url = 'https://raw.githubusercontent.com/robertoaltran/Population/main/2018-SA1-dataset-individual-part-3a-AucklandRegion.csv'
data5 = pd.read_csv(url)

In [193]:
data5 = data5.iloc[:, [0, 1] + list(range(16, 21)) + list(range(66, 73)) + list(range(156, 172))]

In [194]:
headers = data5.iloc[0]
data5 = data5[1:]
data5.columns = headers
data5.head()

,Area_Code,Area_Description,Employed Full time,Employed Part time,Unemployed,Not in the Labour Force,Total stated,Managers,Professionals,Technicians and Trades Workers,Community and Personal Service Workers,Clerical and Administrative Workers,Sales Workers,Machinery Operators and Drivers,Manufacturing,Electricity Gas Water and Waste Services,Construction,Wholesale Trade,Retail Trade,Accommodation and Food Services,Transport Postal and Warehousing,Information Media and Telecommunications,Financial and Insurance Services,Rental Hiring and Real Estate Services,Professional Scientific and Technical Services,Administrative and Support Services,Public Administration and Safety,Education and Training,Health Care and Social Assistance,Arts and Recreation Services
1,110200,Okahukura Peninsula,639,198,39,306,1182,204,93,117,75,66,66,81,72,3,114,42,57,39,42,6,12,15,42,39,24,48,54,9
2,110300,Inlet Kaipara Harbour South,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C
3,110400,Cape Rodney,1329,558,48,903,2838,507,309,246,147,186,147,93,165,6,264,90,126,111,60,27,21,51,156,72,24,141,135,57
4,110500,Wellsford,681,213,66,525,1485,156,96,144,78,87,117,81,90,3,153,45,114,78,54,3,15,6,63,33,15,54,54,12
5,110600,Oceanic Auckland Region East,C,C,C,6,9,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C


**Work and Labour Force Status**:
- This shows how many people in an area have jobs. Places with more people working might have higher rent prices because more people need homes.

**Status in Employment**:
- This tells us what kind of jobs people have, like full-time or part-time. Areas with many full-time workers might have higher rents because they have a steady income.

**Occupation by Residence & Workplace Address**:
- This information reveals the types of jobs people do and where they work. Areas with lots of high-paying jobs, like doctors or lawyers, might have higher rents. Also, if people live close to their work, they might be willing to pay more for rent.

**Industry by Residence & Workplace Address**:
- This tells us about the businesses and industries where people work. For instance, areas close to big business hubs might have higher rents. On the other hand, places with seasonal jobs might have different rent patterns.

-----------------------------------------------------------------------------------------

In [195]:
url = 'https://raw.githubusercontent.com/robertoaltran/Population/main/2018-SA1-dataset-individual-part-3b-AucklandRegion_updated_16-7-20.csv'
data6 = pd.read_csv(url, header = 1)

In [196]:
data6 = data6.iloc[:, [0, 1, 32 , 38, 41, 44, 50, 53, 56]]

In [197]:
data6.drop(0, inplace=True)
data6.reset_index(drop=True, inplace=True)
data6.rename(columns={'Unnamed: 0': 'Area_Code', 'Unnamed: 1': 'Area_Description'}, inplace=True)

In [198]:
data6.head()

,Area_Code,Area_Description,Work at home,"Drive a private car, truck or van","Drive a company car, truck or van","Passenger in a car, truck, van or company bus",Train,Bicycle,Walk or jog
0,110200,Okahukura Peninsula,168,315,78,12,0,0,18
1,110300,Inlet Kaipara Harbour South,C,C,C,C,C,C,C
2,110400,Cape Rodney,375,564,129,39,3,6,33
3,110500,Wellsford,57,315,108,39,0,3,81
4,110600,Oceanic Auckland Region East,C,C,C,C,C,C,C


**Main Means of Travel to Work by Residence & Workplace Address**:
- This shows how people get to their jobs, like by car, bus, or walking. Areas with good public transport might have higher rents because it's easier for people to get around. On the other hand, places where most people drive might need homes with parking spaces.

-----------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------

In [199]:
url = 'https://raw.githubusercontent.com/robertoaltran/Population/main/ANZSOC_Full%20Data_data-auckland.csv'  
data8 = pd.read_csv(url)
data8.head()

,ANZSOC Division,Year Month,Victimisations,Area Unit,Number of Records,Territorial Authority
0,"Abduction, Harassment and Other Related Offenc...",Dec-22,1,Mangere South.,1,Auckland.
1,"Abduction, Harassment and Other Related Offenc...",Oct-22,1,Royal Oak.,1,Auckland.
2,"Abduction, Harassment and Other Related Offenc...",Dec-22,1,Mascot.,1,Auckland.
3,"Abduction, Harassment and Other Related Offenc...",Dec-22,1,Balmoral.,1,Auckland.
4,"Abduction, Harassment and Other Related Offenc...",Oct-22,1,Drury.,1,Auckland.

In [200]:
data8['Area Unit'] = data8['Area Unit'].str.replace(r'\.$', '', regex=True)

## Auckland - Crime Categories and Incidents:

**Acts Intended to Cause Injury: 107,804 incidents**
This category involves deliberate acts where the intent was to inflict harm or injury to another individual.

**Sexual Assault and Related Offences: 10,113 incidents**
These are offenses that involve any unwanted sexual activity or behavior without the explicit consent of the victim.

**Abduction, Harassment and Other Related Offences Against Personal Liberty: 964 incidents**
This category encompasses crimes where a person's freedom or liberty is violated, including kidnapping and harassment.

**Robbery, Extortion and Related Offences: 13,617 incidents**
Such crimes involve forcibly taking something of value from another person, often coupled with threats or violence.

**Unlawful Entry With Intent/Burglary, Break and Enter: 257,424 incidents**
These are offenses where individuals unlawfully enter property, usually with the intent to commit theft or another crime.

**Theft and Related Offences: 658,869 incidents**
This category covers various forms of theft, from petty thefts to more significant robberies, excluding break-ins.

**The Grand Total of all reported crimes in Auckland during this period amounts to 1,048,791 incidents.**

### Source of Data:
The data is derived from the "Victimisation Time and Place" dataset, which offers detailed insights into when and where crimes occurred across Auckland.

In [201]:
data_crimes_2023 = data8[data8['Year Month'].str.contains('23')]
grouped_crimes = data_crimes_2023.groupby(['Area Unit', 'ANZSOC Division'])['Victimisations'].sum().reset_index()
pivot_crimes = grouped_crimes.pivot_table(index='Area Unit', columns='ANZSOC Division', values='Victimisations', fill_value=0).reset_index()

-----------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------

In [202]:
dataframes = [data2, data3, data4, data5, data6]
names = ['data2', 'data3', 'data4', 'data5', 'data6']

for df, name in zip(dataframes, names):
    if 'Area_Description' not in df.columns:
        print(f"{name} doesn't have 'Area_Description' column.")

In [203]:
merged_df = data2.merge(data3, on=['Area_Code', 'Area_Description'], how='outer')
merged_df = merged_df.merge(data4, on=['Area_Code', 'Area_Description'], how='outer')
merged_df = merged_df.merge(data5, on=['Area_Code', 'Area_Description'], how='outer')
merged_df = merged_df.merge(data6, on=['Area_Code', 'Area_Description'], how='outer')

In [204]:
merged_final = merged_df.merge(pivot_crimes, left_on='Area_Description', right_on='Area Unit', how='outer')

In [205]:
merged_final.head()

,Area_Code,Area_Description,2018.0,2018 Census,0-4 years,5-9 years,10-14 years,15-19 years,20-24 years,25-29 years,30-34 years,35-39 years,40-44 years,45-49 years,50-54 years,55-59 years,60-64 years,65-69 years,70-74 years,75-79 years,80-84 years,Median age(17),Under 15 years,15-29 years,30-64 years,Less than one year,1 year,2 years,3 years,4 years,5-9 years,10-19 years,No children,One child,Two children,Three children,Four children,Five children,No qualification,Level 1 certificate,Level 2 certificate,Level 3 certificate,Level 4 certificate,Level 5 diploma,Level 6 diploma,Bachelor degree and Level 7 qualification,Post-graduate and honours degrees,Masters degree,Doctorate degree,"$5,000 or less","$5,001 – $10,000","$10,001 – $20,000","$20,001 – $30,000","$30,001 – $50,000","$50,001 – $70,000",Median personal income($),Employed Full time,Employed Part time,Unemployed,Not in the Labour Force,Total stated,Managers,Professionals,Technicians and Trades Workers,Community and Personal Service Workers,Clerical and Administrative Workers,Sales Workers,Machinery Operators and Drivers,Manufacturing,Electricity Gas Water and Waste Services,Construction,Wholesale Trade,Retail Trade,Accommodation and Food Services,Transport Postal and Warehousing,Information Media and Telecommunications,Financial and Insurance Services,Rental Hiring and Real Estate Services,Professional Scientific and Technical Services,Administrative and Support Services,Public Administration and Safety,Education and Training,Health Care and Social Assistance,Arts and Recreation Services,Work at home,"Drive a private car, truck or van","Drive a company car, truck or van","Passenger in a car, truck, van or company bus",Train,Bicycle,Walk or jog,Area Unit,"Abduction, Harassment and Other Related Offences Against a Person",Acts Intended to Cause Injury,"Robbery, Extortion and Related Offences",Sexual Assault and Related Offences,Theft and Related Offences,"Unlawful Entry With Intent/Burglary, Break and Enter"
0,110200,Okahukura Peninsula,522.0,1491,99,96,111,84,75,72,78,93,87,99,105,162,105,84,51,48,21,41.7,306,234,732,6,3,3,9,3,33,60,108,93,141,90,48,21,225,198,156,135,120,54,45,93,30,15,3,132,57,198,168,288,177,32600,639,198,39,306,1182,204,93,117,75,66,66,81,72,3,114,42,57,39,42,6,12,15,42,39,24,48,54,9,168,315,78,12,0,0,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110300,Inlet Kaipara Harbour South,0.0,0,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110400,Cape Rodney,1275.0,3525,216,234,237,168,153,168,177,201,204,240,264,312,291,258,198,123,51,45,687,489,1683,27,21,21,18,21,66,138,315,156,378,246,120,33,495,357,321,249,315,129,150,333,102,81,39,312,123,504,408,642,393,32100,1329,558,48,903,2838,507,309,246,147,186,147,93,165,6,264,90,126,111,60,27,21,51,156,72,24,141,135,57,375,564,129,39,3,6,33,Cape Rodney,0.0,3.0,0.0,1.0,20.0,18.0
3,110500,Wellsford,654.0,1929,168,150,129,138,105,138,150,123,105,93,114,108,84,99,87,57,42,34.4,447,384,777,12,18,6,18,6,78,78,150,87,159,144,75,33,381,219,186,141,132,57,48,90,30,15,0,192,72,321,270,303,195,25400,681,213,66,525,1485,156,96,144,78,87,117,81,90,3,153,45,114,78,54,3,15,6,63,33,15,54,54,12,57,315,108,39,0,3,81,Wellsford,0.0,8.0,2.0,1.0,98.0,22.0
4,110600,Oceanic Auckland Region East,6.0,9,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,62,0,0,6,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,12600,C,C,C,6,9,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN